.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    border: 1px solid #bc2424;
    cursor: pointer;
}

#message {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
